*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #c7c7c7;
    /* padding: 10px 0 0 0; */
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    padding: 0 20px;
}


header>nav{
    display: flex;
    align-items: center;
    height: 4rem;
}


header>nav>ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
    list-style: none;
}

header>nav>ul>li>a{
    text-decoration: none;
    font-weight: 500;
    color: #000;

    font-size: 1.1rem;
}

header>nav>ul>li>a:hover{
    color: #FF0000;
}

header>nav>ul>li>a.active{
    color: #FF0000;
}

header>nav>ul>li>a::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color:#FF0000;
    transition: width .3s;
}

header>nav>ul>li>a:hover::after{
    width: 100%;
    transition: width .3s;
}

header>div>svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #FF0000;
	font-size: 30px;
    letter-spacing: 1px;
}

@keyframes stroke {
	0%   {
		fill: rgba(255,0,0,0); stroke: rgba(255,0,0,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,0,0,0); stroke: rgba(255,0,0,1); }
	80%  {fill: rgba(255,0,0,0); stroke: rgba(255,0,0,1); stroke-width: 3; }
	100% {
		fill: rgba(255,0,0,1); stroke: rgba(255,0,0,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

    main{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 33rem; 
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(45deg, rgb(228, 20, 20), 
        #ff000079);
        width: 60%;
        padding: 20px;
        color: #000;
        border-radius: 20px;
        gap: 30px;
        height: 25rem;

    }


      
    form>section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 5rem;
    }
    
    form>.cliente{
        margin-left: 35px;
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
    }
    .monastery{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 30px;
        padding-left: 35px;
    }

    .monastery>section{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 20px;
       
    }

    .monastery>section:nth-child(2){
        padding-left: 20px;
    }

    .monastery>section>div>input{
        padding-left: 10px;
        padding-right: 10px;
        height: 2rem;
        background-color: #fff;
        border: 1px solid;
        border-radius: 10px;
        width: 50vh;
    }
    .monastery>section>div>select{
        height: 2rem;
        width: 50vh;
        background-color: #fff;
        border: 1px solid;
        border-radius: 10px;
        padding-left: 10px;
        /* padding-right: 10px; */
    }




   /* Estilos para la ventana emergente */
   #ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#ventana-emergente.mostrar {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#ventana-emergente-content {
    height: 25rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    text-align: center;
}

#ventana-emergente-content h2 {
    margin-bottom: 20px;
}

#ventana-emergente-content .input-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#ventana-emergente-content .input-icon input[type="text"] {
    flex: 1;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

#ventana-emergente-content .input-icon i {
    margin-right: 10px;
    font-size: 24px;
}


.cerrar-ventana {
    position: absolute;
    top: 20px;
    right: 30%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.metodos-pago-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    font-size: 40px;
}

.metodos-pago-icons i {
    margin: 0 10px;
    color: #555;
}

.visa {
    color: #1a237e;
}

.mastercard {
    color: #ff1744;
}

.paypal {
    color: #00457c;
}


.btn {
    padding: 0.5em 2em;
    background: none;
    border: 2px solid #c7c7c7;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #000;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff1744;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }


   